/*------------
NAVIGATION BAR
------------*/
#nav-bar {
    display: grid;
    grid-template-columns: 30px 30px 1320px 30px 30px 30px 70px;
    column-gap: 50px;
    place-items: center;
    align-content: start;
    justify-content: center;
}

#about {
    grid-column: 1 / span 1;
}

#store {
    grid-column: 2 / span 1;
}

#gmail {
    grid-column: 4 / span 1;
}

#images {
    grid-column: 5 / span 1;
}

#menu {
    grid-column: 6 / span 1;
    background: none;
    border: none;
    color: black;
}

#menu:hover {
    color: gray;
}

#sign-in {
    grid-column: 7 / span 1;
    background-color: #229dc9;
    color: white;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    font-weight: bold;
}

.nav-options {
    text-decoration: none;
    color: #444;
}

.nav-options:hover {
    text-decoration: underline;
}


/*--------------------------------------------
MAIN CONTENT OF THE PAGE (LOGO AND SEARCH BAR)
--------------------------------------------*/
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

#logo {
    width: 272px;
    height: 92px;
    margin-bottom: 25px;
}

#search-bar {
    width: 520px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid lightgray;
}

#search-bar:focus {
    outline: none;
}

/*--------------------
       FOOTER
--------------------*/
#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 94px 72px 151px 1100px 61px 50px 68px;
    column-gap: 40px;
    place-items: center;
    justify-content: center;
    align-items: start;
    margin-left: 30px;
    margin-bottom: 15px;
}

.footer-options {
    text-decoration: none;
    color: #444;
}

.footer-options:hover {
    text-decoration: underline;
}

#advertising {
    grid-column: 1 / span 1;
}

#business {
    grid-column: 2 / span 1;
}

#how-search-works {
    grid-column: 3 / span 1;
}

#privacy {
    grid-column: 5 / span 1;
}

#terms {
    grid-column: 6 / span 1;
}

#settings {
    grid-column: 7 / span 1;
}
